node_modules

# by using '*' we exclude dist's content but not the entire dir itself
# this way we can now use wildcards
dist/*
**/*/dist/*
!**/*/dist/*.mp4


**/*/node_modules
**/*/coverage
**/*/.cache
**/*/yarn-error.log
**/*/yalc.lock
**/*/.yalc

.rpt2_cache/

*.pyc


